includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/EventListener/BaseFlexibleSslListener.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#^Dynamic call to static method PHPUnit\\Framework\\\S+\(\)\.$#'
        - '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\\S+\(\)\.$#'
        # Ignore typing providers in tests
        - '#^Method Nelmio\\SecurityBundle\\Tests\\[^:]+Test::(provide\w+|\w+Provider)\(\) return type has no value type specified in iterable type (array|iterable)\.#'
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION
