parameters:
	ignoreErrors:
		-
			message: "#^Method Nelmio\\\\SecurityBundle\\\\ContentSecurityPolicy\\\\DirectiveSet\\:\\:normalizeSignatures\\(\\) should return array\\<string, string\\>\\|null but returns array\\<string, array\\<int, string\\>\\|string\\>\\.$#"
			count: 1
			path: src/ContentSecurityPolicy/DirectiveSet.php

		-
			message: "#^Parameter \\#1 \\$bool of method Nelmio\\\\SecurityBundle\\\\ContentSecurityPolicy\\\\DirectiveSet\\:\\:setLevel1Fallback\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: src/ContentSecurityPolicy/DirectiveSet.php

		-
			message: "#^Parameter \\#1 \\$sourceList of method Nelmio\\\\SecurityBundle\\\\ContentSecurityPolicy\\\\ContentSecurityPolicyParser\\:\\:parseSourceList\\(\\) expects array\\<int, string\\>\\|true, mixed given\\.$#"
			count: 1
			path: src/ContentSecurityPolicy/DirectiveSet.php

		-
			message: "#^Parameter \\#1 \\$name of class Symfony\\\\Component\\\\HttpFoundation\\\\Cookie constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/EventListener/FlexibleSslListener.php

		-
			message: "#^Parameter \\#2 \\$value of class Symfony\\\\Component\\\\HttpFoundation\\\\Cookie constructor expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/EventListener/FlexibleSslListener.php


		-
			message: "#^Method Nelmio\\\\SecurityBundle\\\\UserAgent\\\\UAFamilyParser\\\\PsrCacheUAFamilyParser\\:\\:getUaFamily\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/UserAgent/UAFamilyParser/PsrCacheUAFamilyParser.php

		-
			message: "#^Parameter \\#1 \\$parsedYaml of method Nelmio\\\\SecurityBundle\\\\Tests\\\\DependencyInjection\\\\ConfigurationTest\\:\\:processYaml\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: tests/DependencyInjection/ConfigurationTest.php

