includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - src/EventListener/BaseFlexibleSslListener.php
    treatPhpDocTypesAsCertain: false
