<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         bootstrap="tests/autoload.php"
>
    <testsuites>
        <testsuite name="NelmioSecurityBundle Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Nelmio\SecurityBundle\Tests\App\AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
    </extensions>
</phpunit>
